$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;

$dark-color: #212121;
$light-color: #ffffff;
$accent--color: #2196f3;
$text--dark: #757575;

$title--dark: $dark-color;
$title--lite: $light-color;

$btn--dark: $dark-color;
$btn--light: $light-color;

$text--dark: $text--dark;
$text--light: $light-color;
