html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin-left: 40px;
  font-family: $main-font;
  font-size: 14px;
  letter-spacing: 0.03em;
  // color: $text--dark;
}

ul {
  margin-bottom: 40px;
  list-style: none;
}
li {
  margin-top: 5px;
}
#counter {
  margin-bottom: 40px;
}
.img {
  display: block;
}
a {
  text-decoration: none;
}

#gallery {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-content: center;
}
#validation-input {
  border: 3px solid #bdbdbd;
}
// #validation-input_valid {
//   border-color: #4caf50;
// }
// #validation-input_invalid {
//   border-color: #f44336;
// }
#validation-input.valid {
  border-color: #4caf50;
}
#validation-input.invalid {
  border-color: #f44336;
}
.inputvalue{
  margin-top: 20px;
  margin-bottom: 20px;
}